@font-face {
    font-family: 'storaregular';
    src: url('stora-webfont.woff2') format('woff2'),
        url('stora-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

img {
    max-width: 25%;
}

body {
    margin: 0%;
}

header {
    display: flex;
    flex-direction: row;
    padding: 0.5em;
    background-color: #5ebf92;
    position: fixed;
    width: 100%;
}

header img {
    max-width: 15%;
}

header h1 {
    padding: 1em;
}

header h1 {
    margin: 0%;
    margin-left: 0.25em;
    font-family: storaregular;
    padding: 0.25em;
}





/* !!!MAIN!!! */

body header {}

main {
    margin-top: 1em;
}

main div {
    padding: 0.5em;
    background-color: #c4ddf2;

}

main h2,
main p {
    margin-top: 0;
    margin-bottom: 0.5em;
}

main img {
    background-color: #f27d16;
    padding: 0.5em;
    border-radius: 7.5%;
    width: 10em;
    height: 10em;
}

main div {
    display: flex;
}

main div div {
    display: flex;
    flex-direction: column;
}

main a {
    text-decoration: none;
    background-color: #f2be22;
    padding: 0.5em;


}


/* !!!NAV BAR!!! */

nav {
    display: flex;
    justify-content: space-evenly;
    background-color: #5ebf92;
    padding: 0.5em;
    margin: 0.5em;
    position: fixed;
    bottom: 0;
    border-radius: 5%;
}

nav img {
    max-width: 75%;
    padding: 0.5em;
    border-radius: 10%;
}

.active_nav img {
    background-color: #f2be22;
}