@font-face {
    font-family: Stora;
    src: url(fonts/stora/Stora.ttf);

    font-family: "Cooper Black";
    src: url(fonts/Cooper_Black_Regular/Cooper_Black_Regular.ttf);

    font-family: Consola;
    src: url(fonts/Consola/CONSOLA.TTF);
}

body {
    margin: 0;

}

img {
    max-width: 50%;
}

/* !!!HEADER!!! */

header img {
    max-width: 15%;
    animation-name: logo_draaien;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

header h1 {
    margin: auto 0 auto 0.5em;
    font-family: Stora, 'Courier New', Courier, monospace;
    color: #f2be22;
    text-shadow: -2px 2px black;
    -webkit-text-stroke: 0.1px black;
    font-size: 2em;
}

header {
    display: flex;
    flex-direction: row;
    background-color: #5ebf92;
    padding: 0.5em;
    min-width: 100%;
    position: fixed;
}

@keyframes logo_draaien {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* !!!MAIN!!! */

main {
    padding-top: 4.5em;
}

h2 {
    font-family: "Cooper Black";
    margin: 0;
}

section {
    padding: 1em 0;
    display: flex;
    flex-direction: row;
    max-width: 100%;

}

section p {
    font-family: consolas;
    margin: 0.5em 0;
}

section article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 0.5em;
}

article a {
    background-color: #f2be22;
    font-family: cooper black;
    margin: 0 auto;
    padding: 0.5em 1em;
    border-radius: 0.3em;
    border: black;

    text-decoration: none;
    list-style: none;
    box-shadow: -3px 3px black;
    border-style: solid;
    border-color: black;
}

section img {
    margin: auto 0.5em;
    height: 100%;
    width: 40%;
    background-color: #f27d16;
    padding: 0.5em;
    border-radius: 0.5em;
}

.home_1 {
    background-color: #c4ddf2;
}

.home_2 {
    background-color: #a3cdf0;
}

.home_2 img {
    background-color: #a65a49;
}

.carousel {
    display: flex;
    flex-direction: column;
    background-color: #a3cdf0;
}

.carousel h2,
.carousel img,
.carousel p {
    margin: 0 auto;
}

.carousel img {
    margin: 0;
    padding: 0;
    background-color: transparent;
    min-width: 100%;
    margin: 1em 0;
}

.carousel p {
    margin: 0 1em;
}

.container_locatie {
    flex-direction: column;
    background-color: #a3cdf0;
}

.container_locatie h2,
.container_locatie iframe,
.container_locatie p {
    margin: 0 auto;
}

.container_locatie iframe {
    background-color: #a65a49;
    padding: 0.5em;
    border-radius: 0.5em;
    margin: 1em auto;
}

.container_locatie p {
    margin: 0 1em;
}

.fill_donker {
    background-color: #a3cdf0;
    padding: 3em 0;
}

.fill_licht {
    background-color: #c4ddf2;
    padding: 3em 0;
}

/* !!!NAV!!! */

nav {
    display: flex;
    justify-content: space-evenly;
    background-color: #5ebf92;
    margin-bottom: 0;
    position: fixed;
    bottom: 0;
    margin: 0 1em;
    border-radius: 5% 5% 0 0;
}

nav img {
    max-width: 75%;
    padding: 0.5em;
    border-radius: 10%;
}

.active_nav img {
    background-color: #f2be22;
}