@font-face {
    font-family: 'Stora';
    src: url(fonts/Stora.ttf);
}

h1 {
    font-family: 'Stora', 'Courier New', Courier, monospace
}

p {
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
}

img {
    max-width: 25%;
}

body {
    margin: 0%;
}

header {
    z-index: 1000;
    display: flex;
    flex-direction: row;
    padding: 0.5em;
    background-color: #5ebf92;
    position: fixed;
    width: 100%;
}

header img {
    max-width: 15%;
}

header h1 {
    padding: 1em;
}

header h1 {
    margin: 0%;
    margin-left: 0.25em;
    font-family: storaregular;
    padding: 0.25em;
}





/* !!!MAIN!!! */

main {
    transform: translate(0em, 4.5em);
    z-index: 1;
}

main h2 {
    margin-top: 0;
    margin-bottom: 0.3em;
}

main p {
    margin-top: 0;

}

main img {
    display: flex;
    background-color: #f27d16;
    padding: 0.5em;
    border-radius: 7.5%;
    min-width: 10em;
    min-height: 10em;
    max-height: 5em;
}

main div {
    padding: 0.5em;
    background-color: #c4ddf2;
    display: flex;
}

main div div {
    display: flex;
    flex-direction: column;
    padding: 0;
    padding-left: 0.5em;
}

main div div a {
    display: flex;
    justify-content: center;
    margin: 0 1.5em;
    border-radius: 0.3em;
    text-decoration: none;
    background-color: #f2be22;
    padding: 0.5em;
    box-shadow: -3px 3px black;
}

main .home_2,
main .home_2 div {
    background-color: #b3d4f0;
}

main .home_2 img {
    background-color: #a65a49;
}

main .home_2 div {
    padding: 0;
    padding-right: 0.3em;
}

.fill {
    padding: 3.5em;
    background-color: #b3d4f0;
}


/* !!!NAV BAR!!! */

nav {
    display: flex;
    justify-content: space-evenly;
    background-color: #5ebf92;
    padding: 0.5em;
    margin: 0.5em;
    margin-bottom: 0;
    position: fixed;
    bottom: 0;
    border-radius: 3% 3% 0 0;
    max-width: 100%;
}

nav img {
    max-width: 75%;
    padding: 0.5em;
    border-radius: 10%;
}

.active_nav img {
    background-color: #f2be22;
}